#gameCanvas {
    border: 1px solid black;
    position: relative;
    width: 90vw;
    height: 90vh;
    margin: auto;
}
.ball, .hole {
    position: absolute;
    border-radius: 50%;
}
.ball {
    width: 20px;
    height: 20px;
    background-color: blue;
}
.hole {
    width: 30px;
    height: 30px;
    background-color: black;
}